*{
    margin: 0;
    padding: 0;
    
}
header{
    border-bottom: 1px solid #b2bec3
}

.logo{

width: 20%;

float: left;
}
nav{

width: 50%;

float: right;

 list-style: none; 

overflow: hidden;
}
nav ul{

list-style: none;

float: right;

 margin-left: 20px;
}
nav ul li{

float: left;

margin-left: 27px;
}
nav ul li a{
    font-size: 20px;
    
text-decoration: none;
}
.header_Content{
    
    width: 90%;

margin-left: 5%;

overflow: hidden;

margin-top: 10px;

margin-bottom: 10px;
}
.content-section{

width: 70%;

margin-left: 15%;

overflow: hidden;
}
.content-section h1{

text-align: center;

font-size: 35px;

margin-top: 20px;
}
.content-section h2{

text-align: center;

font-size: 28px;

margin-top: 12px;
}
.content-section p{

text-align: center;

margin-top: 12px;

margin-bottom: 12px;
}
.image{

text-align: center;
}
.image img{

width: 50%;
}
.project-content{
overflow: hidden;
}
.left-content{
    background-color: grey;

width: 48%;

float: left;
}
.left-content h1{
    text-align: right;
}
.left-content p{
    text-align: right;

}
.right-content{
    background-color: grey;

width: 48%;

float: right;
}
.right-content h1{
    text-align: left;

}
.service{

width: 90%;

margin-left: 5%;

margin-top: 50px;

margin-bottom: 50px;

overflow: hidden;
}
.service-one{

width: 30%;

float: left;

text-align: center;

background: darkcyan; 

padding: 30px 0;
}
.service-one img{

width: 49%;

padding: 10px;
}
.service-one h2{

text-align: left;

padding: 10px;
}
.service-one p{

padding: 10px;

text-align: left;
}
.service-two{

width: 30%;

float: left;

margin-left: 55;

margin-left: 5%;

text-align: center;

background: gray;

padding: 30px 0;
}
.service-two img{

width: 42%;

padding: 10px;
}
.service-two h2{

text-align: left;

padding: 10px;
}
.service-two p{
    
text-align: left;
    
padding: 10px;
}
.service-three{

width: 30%;

float: right;

text-align: center;

background: darkseagreen;

padding: 30px 0;
}
.service-three img{

width: 40%;

padding: 10px;
}
.service-three h2{

text-align: left;

padding: 10px;
}
.service-three p{

text-align: left;

padding: 10px;
}
footer{

background: gray;

text-align: center;

padding: 30 o;

padding: 30px 0;
}
footer p{
    color: #e1dfdf;
    font-size: 16px;}
footer p span{
    
color: #fff;
    
font-size: 20px;
    
font-weight: 600;
}